{% extends "$genericUiTmpl/layout/PlainDialog"%}
{% import "$genericUiTmpl/macro/Errors" %}
{%block headTitle%}
{%t9nDictionary "$common/ui/t9n/SignUp" %}
{{ "NewAccountRegistration" |t9n}} |
{%endblock%}
{% block pageContent %}
{%t9nDictionary "$common/ui/t9n/Signup" %}
<div style="width: 450px">
    <div class="card border-success">
        <div class="card-header">{{"NewAccountRegistration"|t9n}}</div>
        <div class="card-body text-success">
            {{errorMessage(vm.notice.error)}}
            <p class="">
                {{"RegistrationAcceptedMessage"| t9n | br | raw }}
            </p>
        </div>
    </div>
</div>
{%endblock%}
