{% extends "$common/ui/tmpl/layout/PlainDialog"%}
{% import "$common/ui/tmpl/macro/Errors" %}
{%block headTitle%}
{%t9nDictionary "$identity/ui/t9n/SignUp" %}
{{ "NewAccountRegistration" |t9n}} |
{%endblock%}
{% block headExtra %}
{% endblock %}
{% block pageContent %}
<div style="width: 350px">
    <!-- Account Registration -->
    <div class="card">
        <div class="card-header">
            {{ "NewAccountRegistration" |t9n}}
        </div>
        <div class="card-body">
            <form method="post" class="p-3">
                <div class="row  mt-3">
                    <input type="text" name="username" value="{{ vm.username }}" placeholder="{{ 'YourName' |t9n}}"
                           class="form-control {{invalidCss(vm.notice.messages['username'])}}">
                    {{invalidFeedback(vm.notice.messages['name'])}}
                </div>
                <div class="row mt-3">
                    <input type="text" name="password" value="{{ vm.password }}"
                           placeholder="{{ 'Password' |t9n}}"
                           class="form-control {{invalidCss(vm.notice.messages['password'])}}">
                    {{invalidFeedback(vm.notice.messages['password'])}}
                </div>
                <div class="row mt-3">
                    <input type="text" name="inviteCode" value="{{ vm.inviteCode }}"
                           placeholder="{{ 'InviteCode' |t9n}}"
                           class="form-control {{invalidCss(vm.notice.messages['inviteCode'])}}">
                    {{invalidFeedback(vm.notice.messages['inviteCode'])}}
                </div>
                <div class="row  mt-3">
                    <div class="col-md-12">
                        <p style="font-size:0.7em">
                            Нажимая кнопку "{{ "SignUp" |t9n}}" вы принимаете условия
                            <a href="/docman/agreement" target="_blank">Пользовательского&nbsp;соглашения</a>
                        </p>
                        {{ errorMessage(vm.notice.error) }}
                        <button type="submit" class="btn btn-primary"
                                formaction="/identity/signup/request"> {{ "SignUp" |t9n}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock%}
