
{% extends "$common/ui/tmpl/layout/JsAppPage"%}
{% block headTitle %}
{%t9nDictionary "$common/ui/t9n/Strings" "uiStrings"%}
{{ "Investigations"|t9n(uiStrings) }} |
{% endblock%}

{% block headCss %}
<link href="/resources/investigation/app/css/investigation.css" rel="stylesheet">
{% endblock %}

{% block headJs %}
{% if devUrl()  is empty %}
    <script type="module" src="/resources/investigation/app/js/investigation.js"></script>
{% else %}
    <script type="module" src="{{ '/@vite/client' | devUrl }}"></script>
    <script type="module" src="{{ '/src/investigation/main.js' | devUrl }}"></script>
{% endif %}
{% endblock %}

{% block pageContent %}
<!-- NOP -->
{% endblock%}


